### pandas

In [1]:
import pandas as pd

In [2]:
two_list = [['a',22,33],['b',55,23],['c',11,88]]

In [3]:
#column이름 짓기
my_df=pd.DataFrame(two_list,columns=['name','a_sc','b_sc'],index=['aa','bb','cc'])
my_df

   name  a_sc  b_sc
aa    a    22    33
bb    b    55    23
cc    c    11    88

In [4]:
type(my_df)

pandas.core.frame.DataFrame

In [5]:
#column이름 짓기
my_df.columns

Index(['name', 'a_sc', 'b_sc'], dtype='object')

In [6]:
my_df.index

Index(['aa', 'bb', 'cc'], dtype='object')

In [7]:
my_df.dtypes

name    object
a_sc     int64
b_sc     int64
dtype: object

### 문제 풀기

In [8]:
import pandas as pd

# 코드를 작성하세요.
l = [
    ['Taylor Swift','December 13, 1989','Singer-songwriter'],
    ['Aaron Sorkin','June 9, 1961','Screenwriter'],
    ['Harry Potter','July 31, 1980','Wizard'],
    ['Ji-Sung Park','February 25, 1981','Footballer']
]
df = pd.DataFrame(l,columns=['name','birthday','occupation'])
# 정답 출력
df

           name           birthday         occupation
0  Taylor Swift  December 13, 1989  Singer-songwriter
1  Aaron Sorkin       June 9, 1961       Screenwriter
2  Harry Potter      July 31, 1980             Wizard
3  Ji-Sung Park  February 25, 1981         Footballer

In [9]:
print(df.dtypes)

name          object
birthday      object
occupation    object
dtype: object

dtype	설명  
int64	정수  
float64	소수  
object	텍스트  
bool	불린(참과 거짓)  
datetime64	날짜와 시간  
category	카테고리

### 데이터 읽어들이기

In [10]:
ip_df=pd.read_csv('./data/iphone.csv')

In [11]:
type(ip_df)

pandas.core.frame.DataFrame

In [12]:
ip_df

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

csv의 첫줄이 없는경우 `header=None`

In [13]:
ip_df2=pd.read_csv('./data/iphone.csv',index_col=0)
ip_df2
## index_col : 이름이 row이름으로 설정이 된다.

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

#### 연습문제

In [14]:
df = pd.read_csv('./data/popular_baby_names.csv')
df

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
3,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
4,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4
...,...,...,...,...,...,...
11340,2011,MALE,WHITE NON HISPANIC,LEV,10,97
11341,2011,MALE,WHITE NON HISPANIC,AUGUSTUS,10,97
11342,2011,MALE,WHITE NON HISPANIC,SHAUL,10,97
11343,2011,MALE,WHITE NON HISPANIC,WESLEY,10,97
11344,2011,MALE,WHITE NON HISPANIC,KENNETH,10,97

In [15]:
df = pd.read_csv('./data/mega_millions.csv', index_col=0)
# df = pd.read_csv('./data/mega_millions.csv', index_col='Draw Date')
## 둘이 같은 표현이다.
df

           Winning Numbers  Mega Ball  Multiplier
Draw Date
02/15/2019  10 38 40 43 65         12         2.0
02/12/2019  15 32 39 50 65          7         3.0
02/08/2019  14 24 31 42 48         13         3.0
02/05/2019  03 34 36 59 66          7         2.0
02/01/2019  02 37 48 66 68         11         5.0
...                    ...        ...         ...
05/31/2002  12 28 45 46 52         47         NaN
05/28/2002  06 21 22 29 32         24         NaN
05/24/2002  02 04 32 44 52         36         NaN
05/21/2002  04 28 39 41 44          9         NaN
05/17/2002  15 18 25 33 47         30         NaN

[1746 rows x 3 columns]

## pandas 인덱싱

In [16]:
ip_df = pd.read_csv('./data/iphone.csv', index_col=0)
ip_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [17]:
ip_df.loc['iPhone 8','메모리']

'2GB'

In [18]:
# ip_df.loc['iPhone 8','가격']    [행조건, 열조건]
## 없는 컬럼이라 에러

In [19]:
# ip_df.loc['iPhone X',:]
ip_df.loc['iPhone X']
## 같은 표현

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [20]:
type(ip_df.loc['iPhone X'])

pandas.core.series.Series

In [21]:
ip_df.loc[:,'출시일']
# 같은 표현

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [22]:
ip_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

## 연습문제

In [23]:
df = pd.read_csv('data/broadcast.csv', index_col=0)
df

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

In [24]:
df.loc[2016,'KBS']

27.583000000000002

In [25]:
df.loc[:,'JTBC']

2011    7.380
2012    7.878
2013    7.810
2014    7.490
2015    7.267
2016    7.727
2017    9.453
Name: JTBC, dtype: float64

In [26]:
df['JTBC']

2011    7.380
2012    7.878
2013    7.810
2014    7.490
2015    7.267
2016    7.727
2017    9.453
Name: JTBC, dtype: float64

In [27]:
df[['SBS','JTBC']]

         SBS   JTBC
2011  11.173  7.380
2012  11.408  7.878
2013   9.673  7.810
2014   9.108  7.490
2015   9.099  7.267
2016   8.669  7.727
2017   8.661  9.453

In [28]:
df.loc[:,['SBS','JTBC']]

         SBS   JTBC
2011  11.173  7.380
2012  11.408  7.878
2013   9.673  7.810
2014   9.108  7.490
2015   9.099  7.267
2016   8.669  7.727
2017   8.661  9.453

### 연습문제 2 (카드사)

In [29]:
samsong_df = pd.read_csv('./data/samsong.csv')
hyundee_df = pd.read_csv('./data/hyundee.csv')
# s_df = pd.DataFrame(samsong_df, column='문화생활비')
d = {
    'day':samsong_df['요일'],
    'samsong':samsong_df['문화생활비'],
    'hyundee':hyundee_df['문화생활비']
}
df = pd.DataFrame(d)
df

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925

## DataFrame 인덱싱 2

In [30]:
ip_df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [31]:
ip_df.loc[['iPhone X','iPhone 8']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [32]:
type(ip_df.loc[['iPhone X','iPhone 8']])

pandas.core.frame.DataFrame

In [33]:
ip_df[['Face ID', '출시일']]

              Face ID         출시일
iPhone 7           No  2016-09-16
iPhone 7 Plus      No  2016-09-16
iPhone 8           No  2017-09-22
iPhone 8 Plus      No  2017-09-22
iPhone X          Yes  2017-11-03
iPhone XS         Yes  2018-09-21
iPhone XS Max     Yes  2018-09-21

In [34]:
# 슬라이싱
ip_df.loc['iPhone 8':'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [35]:
ip_df['메모리':'Face ID']

Empty DataFrame
Columns: [출시일, 디스플레이, 메모리, 출시 버전, Face ID]
Index: []

In [36]:
#이상하게 나오는데 이를 위해
ip_df.loc[:,'메모리':'Face ID']

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

In [37]:
ip_df.loc['iPhone 7':'iPhone XS','메모리':'Face ID']

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes

### 연습문제 3  (방송사)

In [38]:
df = pd.read_csv('data/broadcast.csv', index_col=0)
df.loc[2012:,'KBS':'SBS']

         KBS     MBC     SBS
2012  36.163  16.022  11.408
2013  31.989  16.778   9.673
2014  31.210  15.663   9.108
2015  27.777  16.573   9.099
2016  27.583  14.982   8.669
2017  26.890  12.465   8.661

## DataFrame 조건으로 인덱싱

In [39]:
ip_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [40]:
ip_df.loc[[True,False,True,True,False,True,False]]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [41]:
ip_df.loc[[True,False,True]] ###버전이 다름... 그래서 에러가뜬다.

IndexError: Item wrong length 3 instead of 7.

In [42]:
ip_df.loc[:,[True]]

IndexError: Item wrong length 1 instead of 5.

In [43]:
ip_df['디스플레이']>5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [44]:
ip_df.loc[ip_df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [45]:
ip_df.loc[ip_df['Face ID']=='Yes']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [46]:
(ip_df['디스플레이']>5)&(ip_df['Face ID']=='Yes')

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
dtype: bool

In [47]:
condition= (ip_df['디스플레이']>5)&(ip_df['Face ID']=='Yes')
condition2 = (ip_df['디스플레이']>5)|(ip_df['Face ID']=='Yes')

In [48]:
ip_df[condition]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [49]:
ip_df[condition2] ## OR

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

### 연습문제

In [50]:
df = pd.read_csv('data/broadcast.csv', index_col=0)
df

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

In [51]:
df.loc[df['KBS']>30,'KBS']

2011    35.951
2012    36.163
2013    31.989
2014    31.210
Name: KBS, dtype: float64

In [52]:
df.loc[df['SBS']<df['TV CHOSUN'],['SBS', 'TV CHOSUN']]

        SBS  TV CHOSUN
2014  9.108      9.440
2015  9.099      9.940
2016  8.669      9.829
2017  8.661      8.886

##  DataFrame 위치로 인덱싱하기

In [53]:
ip_df.iloc[2,4] ##2행 4열 의 값

'No'

In [54]:
ip_df.iloc[[1, 3], [1, 4]] ## 1,3행 1,4열

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [55]:
ip_df.iloc[3:,1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0